body {

color: 4d0000;
text-color: #DEB887;
    
text-shadow: 2px 2px #000000;
border: 3px solid black;
background-image: ;
background-attachment: scroll;
padding: auto;
background-position: center;
margin: 25px;

}



